/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$assertive:                       #ef473a !default;
$big-bg:                          #212121 !default;
$positive:                        #212121 !default;

//#world{
//    $positive:    #ef473a !default;
//}

//fix sass stuff
*{
font-family: Ubuntu
}
#workoutLog{
    background-color: #333333
}
#workoutLog h3{
    color: #FFD91F
}
#workoutLog h2{
    color: #FFD91F
}
#workoutLog p{
    color: #FFFFFF
}
.scroll-bg {
  background: $big-bg;
  background-size: cover;
}

#LoginTheme{
    background-image: url("/img/background.png");
    background-position:bottom;
    background-position: 50% 90%;
    background-size:50%;
    background-repeat:no-repeat;
    background-color: #212121;
}

#NavButtons{
    color: #FAFAFA;
}

#Theme{
    background-color: #212121;
}
#Theme p{
    
   color: #FFD91F 
}
#Theme h3{
    color: #FFD91F 
}
#Theme h4{
    color: #FFD91F 
}
#Theme h1{
    color: #FAFAFA;
}

#loginFields{
    background-color: #212121
}
#themeButtons{
    
   background-color: #333333 
}
#themeButtons p{
    
   color: #FFD91F 
}

/* Below CSS is for WorkoutDash*/
.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#workoutDashTheme h3 {
	color: #01B0F0;
}

#workoutDashTheme .button {
	background-color: #333333;
	color: white;
}

#workoutDashTheme .button:hover {
    color: #FF358B;
}

.content {
	background-color: #000000;
}

#radar line backgroundColor{
    borderColor: #FAFAFA;
}





// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

