body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
  	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

/* USER'S SEX */

#male-button-container {
	width: 90%;
	height: 175px;
  	margin-left: 5%;
  	border: 1px solid black;
}

#male-button-container img {
	width: 80px;
	float: left;
	margin-left: 10%;
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#male-button-container h1 {
	font-size: 60px;
	position: relative;
  	top: 50%;
  	transform: translateY(-80%);
}


#female-button-container {
	margin-top: 20px;
  	width: 90%;
	height: 175px;
  	margin-left: 5%;
  	border: 1px solid black;
}

#female-button-container img {
	width: 80px;
	float: left;
	margin-left: 10%;
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#female-button-container h1 {
	font-size: 60px;
	position: relative;
  	top: 50%;
  	transform: translateY(-80%);
}

/* WORKOUT GOALS */

#scale-button-container {
	width: 90%;
	height: 140px;
  	margin-left: 5%;
  	border: 1px solid black;
}

#scale-button-container img {
	width: 80px;
	float: left;
	margin-left: 10%;
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#scale-button-container h1 {
	position: relative;
  	top: 50%;
  	transform: translateY(-80%);
}

#muscle-button-container {
	margin-top: 10px;
	width: 90%;
	height: 140px;
  	margin-left: 5%;
  	border: 1px solid black;
}

#muscle-button-container img {
	width: 80px;
	float: left;
	margin-left: 10%;
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#muscle-button-container h1 {
	position: relative;
  	top: 50%;
  	transform: translateY(-80%);
}

#athletics-button-container {
	margin-top: 10px;
	width: 90%;
	height: 140px;
  	margin-left: 5%;
  	border: 1px solid black;
}

#athletics-button-container img {
	width: 100px;
	float: left;
	margin-left: 8%;
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/* FAVORITE WORKOUTS */

#workout-selector-container {
	margin-top: 10px;
	width: 90%;
	height: 70px;
  	margin-left: 5%;
  	border: 1px solid black;
}

#workout-selector-container h1 {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%)
}

/* Refers to class workout-interacted */
.workout-selector-interacted {
	background-color: green;
}

/* FAVORITE CARDIO */

#cardio-button-container {
	width: 90%;
	height: 140px;
  	margin-left: 5%;
  	margin-bottom: 10px; 
  	border: 1px solid black;
}

#cardio-button-container img {
	width: 80px;
	float: left;
	margin-left: 10%;
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#cardio-button-container h1 {
	position: relative;
  	top: 50%;
  	transform: translateY(-100%);
}




