/* NAVBAR */

.custom-dark{
 
 }


/* MISC */

.gray-background {
	background-color: #333333;
}

.thick-border {
	border-color: black;
	border-width: 10px;
}

.border {
	border-color: black;
	border-width: 3px;
}

.centerText {
	text-align: center;
}


