
.gray-background {
	background-color: gray;
}

.thick-border {
	border-color: black;
	border-width: 10px;
}

.border {
	border-color: black;
	border-width: 3px;
}

.centerText {
	text-align: center;
}

.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}