<ion-view view-title="Achievements">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-list></ion-list>
      <html ng-app="achievementsApp">
        <div>
            <hr width="100%">
        </div>
        <table style="width:100%">
          <tr>
            <td class="ion-locked" id="1" data-pack="default" style="font-size:650%"></td>          
            <td style="text-align:left; padding:5%; vertical-align:top">Open this app for the first time</td>
          </tr>
        </table>
        <div>
            <hr width="100%">
        </div>
        <table style="width:100%">
          <tr>
            <td class="ion-locked" data-pack="default" style="font-size:650%"></td>
            <td style="text-align:left; padding:5%; vertical-align:top">Run for a total of 1 mile</td>
          </tr>
        </table>
        <div>
            <hr width="100%">
        </div>
        <table style="width:100%">
          <tr>
            <td class="ion-locked" data-pack="default" style="font-size:650%"></td>
            <td style="text-align:left; padding:5%; vertical-align:top">Run for a total of 5 miles</td>
          </tr>
        </table>
        <div>
            <hr width="100%">
        </div>
        <table style="width:100%">
          <tr>
            <td class="ion-locked" data-pack="default" style="font-size:650%"></td>
            <td style="text-align:left; padding:5%; vertical-align:top">Run for a total of 25 miles</td>
          </tr>
        </table>
        <div>
            <hr width="100%">
        </div>
        <table style="width:100%">
          <tr>
            <td class="ion-locked" data-pack="default" style="font-size:650%"></td>
            <td style="text-align:left; padding:5%; vertical-align:top">Run for a total of 50 miles</td>
          </tr>
        </table>
        <div>
            <hr width="100%">
        </div>
      </html>
  </ion-content>
</ion-view>
