<ion-view view-title="Achievements">
<ion-content id= "Theme"> 
    
    <div  id= "Theme"class="card" ng-repeat="achievement in achievements">  
        <div id= "workoutLog" class="item item-text-wrap" ng-click="showCard(item.name)">
            <div id= "themeButtons" class="item item-avatar">
                <img ng-src="img/{{achievement.image}}.png">
                <h2>{{achievement.name}}</h2>
                <h4 >{{achievement.desc}}</h4>
            </div>
        </div>
    </div>  
</ion-content>
</ion-view>
