<link href="css/style.css" rel="stylesheet">

<ion-view hide-back-button="true" view-title="Completed Achievement">
	   

	<ion-header-bar>
      <h1 class="title">Completed Achievement</h1>
    </ion-header-bar>

 	<ion-content id= "Theme" class="padding">


 		<div id="Theme" class="card centerText">
            <h1 >Congratulations!</h1>

  			<div class="item item-divider">
  				You completed an achievement!
  			</div>
  			<div class="item item-text-wrap">
  				<b>{{achievementTitle}}</b> – {{achievementDesc}}
  			</div>
 		</div>

 		<button id= "themeButtons"class="button button-block button-positive" ng-click="closeModal()">
  			<p>Thanks!</p>
		</button>

	 </ion-content>
</ion-view>
