<ion-view view-title="Pocket Gains" ng-controller="DashboardCtrl" >
    
    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="leaders()">
        Leaderboards
      </button>
        
    </ion-nav-buttons>  
       <ion-nav-buttons side="primary">
      <button class="button" ng-click="achievments()">
        Achievements
      </button>
        
    </ion-nav-buttons> 
    <ion-content class="padding scroll-bg">
      <div class="card">

        <div class="item item-avatar">
          <img src="img/photo.png">
          <h2>{{username}}</h2>
          <p>user_id: {{user_id}}</p>
        </div>

    </div>
    <div ng-controller="HomeTabCtrl">

        <canvas id="radar" class="chart chart-radar" data="data" labels="labels" ></canvas>      

    </div>
      
<div id= world class="item item-text-wrap item-positive">
    <button class="button button-full button-positive" ng-click= "workoutDashClick()">
      Start Workout
    </button>
</div>
        

<div  class="card" ng-repeat="item in workoutHist track by $index" item-positive>
          <div id= "workoutLog" class="item item-text-wrap" ng-click="">
              <div id= "lineOne">
                  <h2>{{item.title}} </h2> 
                  <p >{{item.daysBack}} day(s) ago</p>  
              </div>

               <div id= "lineTwo">
                      <p>{{item.sets}}</p>
                     <h3>sets of</h3>
                      <p>{{item.reps}}</p>
                    <h3>reps </h3> 
              </div>
              <div id= "lineTwo">
                    <h3>Weight</h3>
                    <p>{{item.weight}} lbs</p>
              </div>
          </div>
</div>

        
     


            

  </ion-content>
</ion-view>
