<ion-view view-title="Leaderboards">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
      <form class="list">
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search Exercise">
          </label>
      </form>
      <button id="page-button1" class="button button-positive  button-block">Barbell Bechpress</button>
      <button id="page-button2" class="button button-positive  button-block">Bodyweight Squat</button>
      <button id="page-button3" class="button button-positive  button-block">Crunches</button>
      <button id="page-button4" class="button button-positive  button-block">Deadlift</button>
      <button id="page-button5" class="button button-positive  button-block">Hammer Curls</button>
      <button id="page-button6" class="button button-positive  button-block">Incline Push-Ups</button>
      <button id="page-button7" class="button button-positive  button-block">Running</button>
      <button id="page-button8" class="button button-positive  button-block">Swimming</button>
  </ion-content>
</ion-view>
