<ion-view view-title="Leaderboards">
<ion-content id= "Theme">
<!--
    <div class="list">
        <a ng-repeat="item in buttons"
           ng-click="showCard(item.name)"
           class="item item-stable">
          {{ item.name }}
        </a>
    </div>
-->
    <div  id= "Theme"class="card" ng-repeat="item in buttons track by $index">
    <div id= "workoutLog" class="item item-text-wrap" ng-click="showCard(item.name)">
         <h3>{{item.name}}</h3>
    </div>
</div>
  </ion-content>
</ion-view>
      
