<ion-view view-title="Pocket Gains">
  <ion-content class="padding scroll-bg">
      <div class="card">

      <div class="item item-avatar">
        <img src="img/photo.jpg">
        <h2>Alex Saladna</h2>
        <p>Points 9001</p>
      </div>


          <!--
    <c3chart bindto-id="chart" chart-data="datapoints" chart-columns="datacolumns" chart-x="datax">
    </c3chart>
-->
<!--        <img class="full-image" src="img/graph.png">-->

    </div>
    </div>
    <button class="button button-full button-positive">
      Block Button
    </button>

    <button class="button button-full button-positive">
      Block Button
    </button>

    <button class="button button-full button-positive">
      Block Button
    </button>

  </ion-content>
</ion-view>
