<ion-view view-title="Pocket Gains">
  <ion-content>
      <div class="card">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/photo.jpg">
        <h2>Alex Saladna</h2>
        <p>Points 9001</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/graph.png">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>

    </div>
    </div>
<div class="row">
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col"><button class="button">Workouts</button></div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>

        <button class="button button-block button-positive">
          Leaderboards
        </button>
        <button class="button button-block button-positive">
          History
        </button>
  </ion-content>
</ion-view>
