<ion-modal-view>

    <ion-header-bar>
      <h1 class="title">Select a Workout</h1>
        
    </ion-header-bar>

    <ion-content id= "profBuilder">

<!--
    	<ion-list id= "Theme">
        	<ion-item id= "Theme" ng-repeat="workout in workouts">
          		<button class="button button-block button-positive" type="submit" ng-click="selectFavWorkout(workout.workout_id, workout.title)"><h2>{{workout.title}}</h2></button>
        	</ion-item>
       	</ion-list>
-->
        
        
        <div  id= "workoutLog" class="card" ng-repeat="workout in workouts track by $index">
        <div  id= "workoutLog" class="item item-text-wrap"  ng-click="selectFavWorkout(workout.workout_id, workout.title)">
             <h2>{{workout.title}}</h2>
        </div>
    </div>
        
        
       
    </ion-content>

</ion-modal-view>