<ion-modal-view>

    <ion-header-bar>
      <h1 class="title">Workout in Progress</h1>
      <button class="button" ng-click="back()">
        Back
      </button>
    </ion-header-bar>

    <ion-content id= "Theme">

      <div class="list list-inset" id= "loginFields">
        <form name="form" ng-submit='submitWorkout()'>

            <h1 id= "logWorkoutHeader" class="centerText"> {{activeWorkout}} </h1>

            <label class="item item-input">
                <input type="text" placeholder="reps" ng-model="form.reps">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="sets" ng-model="form.sets">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="weight" ng-model="form.weight">
            </label>
          <button class="button button-block button-positive" id= "themeButtons"><p>Finish Workout</p></button>
        
        </form>
      </div>
      
    </ion-content>

</ion-modal-view>