<ion-view  view-title="Workout">

  <!-- Hides menu icon and any other nac buttons on right side-->
  <ion-nav-bar class="bar-positive custom-dark">
          <ion-nav-buttons side="primary">
      <button class="button" ng-click="home()">
        Home
      </button>
</ion-nav-bar>
  <ion-nav-buttons side="right">     
  </ion-nav-buttons>

  <ion-content id= "workoutDashTheme" class="padding content">
        <h3 class="centerText">Suggested </h3>
        <div>
          <ion-scroll zooming="true" direction="x" style="height: 100px">
          <div class="row">
            <a class="col col-33 button border" ng-repeat="workout in suggestedWorkouts" ng-click="openModal(1, workout.title, workout.id, null)">{{workout.title}}</a>
          </div>
        </div>
        <h3 class="centerText">Favorites </h3>
        <div>
          <ion-scroll zooming="true" direction="x" style="height: 100px">
          <div class="row">
            <a class="col col-33 button border" ng-repeat="workout in favoriteWorkouts track by $index" ng-click="openModal(1, workout.title, workout.id, null)">{{workout.title}}</a>
          </div>
        </div>

        <h3 class="centerText">All </h3>
        
        <div class="row">
          <a ng-repeat="type in workoutTypes1"
               class="button col border" ng-click="openModal(3,null,null,type.name)"><img src="/img/{{type.name}}.png"> {{type.name}}</a>
        </div>
        <div class="row">
          <a ng-repeat="type in workoutTypes2"
               class="button col border" ng-click="openModal(3,null,null,type.name)"><img src="/img/{{type.name}}.png">  {{type.name}}</a>
        </div>
	         	

        <br/>

<!--
        <div class="row gallery">
          <a ng-repeat="workout in workouts"
               class="button col-50 border" 
               ng-click="openModal(1,workout.title,workout.workout_id)">{{workout.title}}</a>
        </div>
-->

  </ion-content>
</ion-view>
